/*---

RESET

---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---

GENERAL

---*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

p{
    font-size: 0.9em;
}

img{
    width: 105%;
}

span{
    font-size: 0.9em;
}

.my-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

i{
    font-size: small;
}

li{
    font-size: 0.9em;
    margin-bottom: 10px;
}
/*---

HEADER

---*/

.logo{
    width: 90px;
    vertical-align: middle;
}

.a-nav{
    color: black;
    font-size: 0.9em;
    padding-left: 20px;
    text-decoration: none;
}

.my-col-headerleft{
    padding: 25px;
}

.my-col-headerright{
    padding: 20px;
}

.button-blue{
    background-color: #0060FF;
    color: white;
    font-size: 0.8em;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.button-inizia{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}


/*---

MAIN

---*/

/*---

FIRST SECTION

---*/

.first-section{
    background-color: #B4D0E7;
    padding: 20px;
}

h1{
    font-size: 4em;
    font-weight: 900;
    text-align: center; 
}

.row-jumbotron{
    display: flex;
    justify-content: center;
    position:relative;
    top: 70px;
}

.col-jumbotron-1{
    width: 25%;
    position: relative;
}

.col-jumbotron-2{
    width: 75%;
}

.col-jumbotron-1 >*{
    padding-bottom: 50px;
}

.arrow-down{
    font-size: 2.5em;
    position: absolute;
    bottom: 40px;
}

/*---

SECOND SECTION

---*/

.second-section{
    margin-top: 120px;
}

.h2-second-section{
    margin-top: 80px;
    font-size: 2.3em;
}

.col-1-3{
    width: 30%;
    border: 1px solid rgb(133, 132, 132);
}

.col-1-3-long{
    width: 100%;
    border: 1px solid rgb(133, 132, 132);
}

.billin-montly{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.billin-annual{
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle-button-full{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #005FFF;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.circle-button-empty{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid lightgray;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.second-section-bottom{
    margin-top: 50px;
}

.target{
    border-bottom: 1px solid rgb(133, 132, 132);
    text-align: center;
    padding: 10px;
    
}

.detail-target{
    padding: 35px;
}

h3{
    margin-bottom: 10px;
}

h4{
    font-size: small;
}

.span-lightcolor{
    color: rgb(133, 132, 132);
}

ul{
    margin-top: 40px;
    list-style-type: none;
    margin-bottom: 40px;
}

.try-the-offer{
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 20px;
}

.try-now{
    font-size: 0.9em
}

.hr-shortest{
    color: lightgrey;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-long{
    display: flex;
    justify-content: space-between;
}

.col-1-3-long{
    margin-top: 45px;
}


.my-col-long-detail-target{
    padding: 30px;
    width: 71%;
   
}

.my-col-long-button{
    padding: 30px;
    width: 29%;
 
}

.text-col-long{
    margin-bottom: 20px;
}

/*---

THIRD SECTION

---*/

.third-section{
    margin-top: 50px;
}

.my-col-img{
    width: 70%;
}

.my-col-text{
    width: 30%;
    padding-right: 30px;
    margin-top: 60px;
}

.img-2{
    width: 92%;
}

.button-white-border{
    background-color:white;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 1em;
    cursor: pointer;
}

.button-third-section{
    margin-top: 30px;
}


/*---

FOURTH SECTION

---*/

.fourth-section{
    margin-top: 120px;
}

h2{
    font-size: 2.3em;
}

.fourth-section .col-1-3{
    border: none;
    margin-top: 20px;
 }

.fourth-section p{
    margin-top: 30px;
}

/*---

FIFTH SECTION

---*/

.fifth-section{
    margin-top: 120px;
}

.div-fifth-section{
    width: 60%;
    margin-bottom: 40px;
}

/*---

SIXTH SECTION

---*/

.sixth-section{
    margin-top: 120px;
}

.sixth-section .my-row{
    height: 300px;
}

.sixth-section .col-square{
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    background-color: #F5F5F5;
}

.half-square{
    background-color: antiquewhite;
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.col-son-half-square{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-designit{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.square-asu{
    background-color: #61082B;
}

.square-uf{
    background-color: #0093CE;
}

.square-topps{
    background-color: #FF1C1C;
}

.square-world-bicycle{
    background-color: #D5001F;
}

.square-hearst{
    background-color: #B4D0E7;
}

.square-lonely-planet{
    background-color: #0D2481;
}

.square-clear-channel{
    background-color: #FFD830;
}

.style-logo{
    width: 120px;
    filter: invert(100);
}

.designit-logo-black{
   width: 250px; 
}

.full-square{
    padding: 40px;
}

.cit-global-it-lead{
    margin-top: 30px;
}


/*---

DEBUG

---*/

/* .debug header{
    /* background-color: aqua; }
*/

/* 
.debug .first-section{
    background-color: #B4D0E7;
    padding: 20px;
} */

/* .debug .col-jumbotron-1{
    background-color: aquamarine;
}

.debug .col-jumbotron-2{
    background-color: rgb(244, 128, 70);
} */

/* .debug .col-1-3{
    width: 30%;
    background-color: bisque;
    height: 500px;
}

.debug .col-1-3-long{
    width: 100%;
    background-color: rgb(177, 53, 121);
    height: 500px;
}
 */

 /*.debug .fourth-section .col-1-3{
    background-color: aqua;
    height: 200px;
    border: none;
 } */

/* .debug .sixth-section{
    margin-top: 120px;
} */

/* .debug .sixth-section .my-row{
    height: 300px;
} */

/* .debug .col-1{
    background-color: antiquewhite;
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.debug .col-2{
    background-color: rgb(135, 93, 37);
    height: calc(100vw / 3);
    width: calc(100vw / 3);
}

.debug .col-3{
    background-color: rgb(82, 14, 90);
    height: calc(100vw / 3);
    width: calc(100vw / 3);
} */

footer{
    margin-top: 500px;
    background-color: aqua;
    height: 200px;
}

/* .col-alf-son{
    height: 50%;
    width: 50%;
    border: 1px solid black;
} */