/*---

RESET

---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---

GENERAL

---*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    padding-left: 20px;
    
}

p{
    font-size: 0.7em;
}

img{
    width: 100%;
}

/*---

HEADER

---*/

.my-row-header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 70px;
    vertical-align: middle;
}

.my-col-headerleft{
    padding: 20px;
}

.my-col-headerright{
    padding: 20px;
}

.button-blue{
    background-color: #0060FF;
    color: white;
    font-size: 0.7em;
    padding: 5px 10px;
    border: none;
}

.button-inizia{
    display: inline-block;
    margin-left: 10px;
}

/*---

MAIN

---*/

h1{
    font-size: 4em;
    font-weight: 900;
    margin-top: 50px;    
}

.row-jumbotron{
    display: flex;
    position:relative;
    top: 70px;
}

.col-jumbotron-1{
    width: 25%;
}

.col-jumbotron-2{
    width: 75%;
}



/*---

DEBUG

---*/

/* .debug header{
    /* background-color: aqua; }
*/


.debug .first-section{
    background-color: #B4D0E7;
    padding: 20px;
}

/* .debug .col-jumbotron-1{
    background-color: aquamarine;
}

.debug .col-jumbotron-2{
    background-color: rgb(244, 128, 70);
} */