/*---

RESET

---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---

GENERAL

---*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

p{
    font-size: 0.9em;
}

img{
    width: 105%;
}

span{
    font-size: 0.9em;
}

.my-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

i{
    font-size: small;
}

li{
    font-size: 0.9em;
    margin-bottom: 10px;
}
/*---

HEADER

---*/

.dropdown-content {
    display: none;
    position: absolute;
    left: 140px;
    top: 50px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 10px;
    line-height: 30px;
    border-radius: 10px;
}

.drop-2{
    left: 280px;
}

.drop-3{
    left: 360px;
}

.a-nav:hover .dropdown-content {
    display: block;
}
  
header{
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
}

.logo{
    width: 90px;
    vertical-align: middle;
}

.a-nav{
    color: black;
    font-size: 0.9em;
    padding-left: 20px;
    text-decoration: none;
}

.my-col-headerleft{
    padding: 25px;
    position:relative
}

.my-col-headerright{
    padding: 20px;
}

.button-blue{
    background-color: #0060FF;
    color: white;
    font-size: 0.8em;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.button-inizia{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

/*---

MAIN

---*/

/*---

FIRST SECTION

---*/

.first-section{
    background-color: #B4D0E7;
    padding: 20px;
}

h1{
    font-size: 4em;
    font-weight: 900;
    text-align: center; 
}

.row-jumbotron{
    display: flex;
    justify-content: center;
    position:relative;
    top: 70px;
}

.col-jumbotron-1{
    width: 25%;
    position: relative;
}

.col-jumbotron-2{
    width: 75%;
}

.col-jumbotron-1 >*{
    padding-bottom: 50px;
}

.arrow-down{
    font-size: 2.5em;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving{
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.jump{
    position: absolute;
    bottom: 40px;
}

/*---

SECOND SECTION

---*/

.second-section{
    margin-top: 120px;
}

.second-section .my-row{
    margin-top: 30px;
}

.h2-second-section{
    margin-top: 80px;
    font-size: 2.3em;
    margin-bottom: 30px;
}

.col-1-3{
    width: 30%;
    border: 1px solid rgb(133, 132, 132);
}

.col-1-3-long{
    width: 100%;
    border: 1px solid rgb(133, 132, 132);
}

.billin-montly{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.billin-annual{
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle-button-full{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #005FFF;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.circle-button-empty{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid lightgray;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.second-section-bottom{
    margin-top: 50px;
}

.target{
    border-bottom: 1px solid rgb(133, 132, 132);
    text-align: center;
    padding: 10px;
    
}

.detail-target{
    padding: 35px;
}

h3{
    margin-bottom: 10px;
}

h4{
    font-size: small;
}

.span-lightcolor{
    color: rgb(133, 132, 132);
}

ul{
    margin-top: 40px;
    list-style-type: none;
    margin-bottom: 40px;
}

.try-the-offer{
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 20px;
}

.try-now{
    font-size: 0.9em
}

.hr-shortest{
    color: lightgrey;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-long{
    display: flex;
    justify-content: space-between;
}

.col-1-3-long{
    margin-top: 45px;
}


.my-col-long-detail-target{
    padding: 30px;
    width: 71%;
   
}

.my-col-long-button{
    padding: 30px;
    width: 29%;
 
}

.text-col-long{
    margin-bottom: 20px;
}

/*---

THIRD SECTION

---*/

.third-section{
    margin-top: 50px;
}

.my-col-img{
    width: 70%;
}

.my-col-text{
    width: 30%;
    padding-right: 30px;
    margin-top: 60px;
}

.img-2{
    width: 92%;
}

.button-white-border{
    background-color:white;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 1em;
    cursor: pointer;
}

.button-third-section{
    margin-top: 30px;
}


/*---

FOURTH SECTION

---*/

.fourth-section{
    margin-top: 120px;
}

h2{
    font-size: 2.3em;
}

.fourth-section .col-1-3{
    border: none;
    margin-top: 20px;
 }

.fourth-section p{
    margin-top: 30px;
}

/*---

FIFTH SECTION

---*/

.fifth-section{
    margin-top: 120px;
}

.div-fifth-section{
    width: 60%;
    margin-bottom: 40px;
}

/*---

SIXTH SECTION

---*/

.sixth-section{
    margin-top: 120px;
}

.sixth-section .col-square{
    height: calc(100vw / 3);
    width: calc(100% / 3);
    background-color: #F5F5F5;
}

.half-square{
    background-color: antiquewhite;
    height: calc(100vw / 3);
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.col-son-half-square{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-designit{
    background-color: #A2D39B;
    transition: all 0.3s ease-in-out;
}

.square-designit:hover{
    border: 15px solid #D1E9CD;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-asu{
    background-color: #61082B;
    transition: all 0.3s ease-in-out;
}

.square-asu:hover{
    background-color: #61082B;
    border: 15px solid #830b3b;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-uf{
    background-color: #0093CE;
    transition: all 0.3s ease-in-out;
}

.square-uf:hover{
    background-color: #0093CE;
    border: 15px solid #23a9de;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-topps{
    background-color: #FF1C1C;
    transition: all 0.3s ease-in-out;
}

.square-topps:hover{
    background-color: #FF1C1C;
    border: 15px solid #f44d4d;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-world-bicycle{
    background-color: #D5001F;
    transition: all 0.3s ease-in-out;
}

.square-world-bicycle:hover{
    background-color: #D5001F;
    border: 15px solid #d4344c;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-hearst{
    background-color: #B4D0E7;
    transition: all 0.3s ease-in-out;
}

.square-hearst:hover{
    background-color: #B4D0E7;
    border: 15px solid #cbd7e1;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-lonely-planet{
    background-color: #0D2481;
    transition: all 0.3s ease-in-out;
}

.square-lonely-planet:hover{
    background-color: #0D2481;
    border: 15px solid #25377e;
    transform: scale(1.1);
    border-radius: 5%;
}

.square-clear-channel{
    background-color: #FFD830;
    transition: all 0.3s ease-in-out;
}

.square-clear-channel:hover{
    background-color: #FFD830;
    border: 15px solid #f5df7c;
    transform: scale(1.1);
    border-radius: 5%;
}

.style-logo{
    width: 120px;
    filter: invert(100);
}

.designit-logo-black{
   width: 250px; 
}

.full-square{
    padding: 40px;
}

.cit-global-it-lead{
    margin-top: 30px;
}


/*---

SEVENTH SECTION

---*/

.seventh-section{
    background-color:#B4D0E7;
}

.seventh-section .my-row{
    padding: 100px 0px;
}

.seventh-section .my-row >*{
    border: none;
    padding-right: 25px;
}

.col-1-2-left{
    width: 50%;
}

.col-1-2-right{
    width: 50%;
    text-align: right;
}

.button-white-noborder{
    background-color: white;
    font-size: 0.8em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.seventh-section h2{
    color: #61082B;
}

/*---

EIGHTH SECTION

---*/

.eighth-section{
    margin-top: 120px;
}

.row-faq{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.eighth-section hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*---

FOOTER

---*/

footer{
    background-color: black;
    margin-top: 120px;
    padding-bottom: 30px;
}

.my-row-foot{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding-top: 100px;
}

.my-col-foot{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
    padding-right: 10px;
}

.my-row-foot h3{
    color: white;
}

.my-row-foot ul{
    color: white;
    list-style-type: none;
}

.hr-shortest-foot{
    width: 15%;
    background-color: lightgray;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-bottom span{
    color:#9d9d9d;
    padding: 0 5px;
}

/*---

DEBUG

---*/

/* .debug header{
    /* background-color: aqua; }
*/

/* 
.debug .first-section{
    background-color: #B4D0E7;
    padding: 20px;
} */

/* .debug .col-jumbotron-1{
    background-color: aquamarine;
}

.debug .col-jumbotron-2{
    background-color: rgb(244, 128, 70);
} */

/* .debug .col-1-3{
    width: 30%;
    background-color: bisque;
    height: 500px;
}

.debug .col-1-3-long{
    width: 100%;
    background-color: rgb(177, 53, 121);
    height: 500px;
}
 */

 /*.debug .fourth-section .col-1-3{
    background-color: aqua;
    height: 200px;
    border: none;
 } */

/* .debug .sixth-section{
    margin-top: 120px;
} */

/* .debug .sixth-section .my-row{
    height: 300px;
} */

/* .debug .col-1{
    background-color: antiquewhite;
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.debug .col-2{
    background-color: rgb(135, 93, 37);
    height: calc(100vw / 3);
    width: calc(100vw / 3);
}

.debug .col-3{
    background-color: rgb(82, 14, 90);
    height: calc(100vw / 3);
    width: calc(100vw / 3);
} */

/* .debug .footer{
    margin-top: 500px;
    background-color: aqua;
    height: 200px;
} */

/* .col-alf-son{
    height: 50%;
    width: 50%;
    border: 1px solid black;
} */

/* .debug footer{
    background-color: black;
} */

/* .debug .my-row-foot{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.debug .my-col-foot{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
    background-color: #830b3b;
    height: 100px;
} */
